@import 'base/base';
@import 'base/colors';
@import 'base/mixins';

.app {

.story {
 padding: 5px;
.first {

h1 {
text-align: center;
span {

}// span

small {

}// small

}// h1
 
}// .first

.middle {

h1 {
 text-align: center;
 span {
 
 }// span
 
 small {
 
 }// small
 
 }// h1

}// .middle

.now {

h1 {
 text-align: center;
 span {
 
 }// span
 
 small {
 
 }// small
 
 }// h1

}// .now

}// .story

.ideasmain {

ul {

li {

.idea {
 margin: 15px;

.card {

figure {

img {

}// img

}// figure

.card-body {

h2.card-title {
@include oxygenl;
border-bottom: 1px solid rgba($color: $llpurple, $alpha: .1);
padding-bottom: 20px;

.badge {
 background: rgba($color: $llpurple, $alpha: .4);
 border: none;
}// .badge

}// h2.card-title

p {

}// p

.collapse {

input {
 background: rgba($color: gray, $alpha: .4);
 padding: 2px;
 margin: 2px;
}// input

.collapse-title {
 @include oxygenl;
 font-size: 14px;
 padding: 0px;
 margin-top: 5px;
}// .collapse-title

.collapse-content {
 padding: 0px;
 margin-top: -40px !important;
}// .collapse-content

}// .collapse

.card-actions {

.badge {
 color: gray;
 border: none;
 padding: 0px;
 margin: 0px;

&::after {
content: ",";
}// &::after

}// .badge

}// .card-actions

}// .card-body

}// .card

}// .idea

}// li

}// ul

}// .ideasmain    

}// .app