@import 'base/base';
@import 'base/colors';
@import 'base/mixins';

.home {

section {
 background: rgba($color: $niced, $alpha: .4);
 padding-top: 50px;

 h2 {
 background: rgba($color: $niced, $alpha: 1.0);
 color: white;
 font-size: 34px;
 @include oxygenb; 
 text-align: center;
 padding: 15px;
 padding-top: 62px;
 border-top: 6px solid rgba($color: white, $alpha: .5);
 border-bottom: 6px solid rgba($color: white, $alpha: .5);
 border-left: 10px solid rgba($color: white, $alpha: .5);
 border-right: 10px solid rgba($color: white, $alpha: .5);
}// h2

form {

input {
 background: white;
 color: $dark;
 font-size: 24px;
 @include oxygenl;
 text-align: center;
 width: 100% !important;
 outline: none;
 padding: 2px;
 @include box;
 margin-bottom: 20px;
 border: 1px solid rgba($color: gray, $alpha: .4);
}// input

textarea {
 background: white;
 color: $dark;
 font-size: 24px;
 @include oxygenl;
 text-align: center;
 width: 100% !important;
 outline: none;
 padding: 2px;
 @include box;
 margin-bottom: 20px;
 border: 1px solid rgba($color: gray, $alpha: .4);
}// textarea

button {
 background: white;
 color: $dark;
 font-size: 24px;
 @include oxygenl;
 text-align: center;
 width: 100% !important;
 outline: none;
 padding: 2px;
 @include box;
 border: 1px solid rgba($color: gray, $alpha: .4);
}// button.button

}// form

}// section

}// .home